<div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="journal">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 journal-config">
                {{journal.title}}
                <br>
                <button (click)="onNewEntry()" class="btn btn-default">New Entry</button>
                <button (click)="onListEntries()" class="btn btn-default">List Entries</button>
                <button class="btn btn-default">Settings</button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>